* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Slike/travelHeder.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header2 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Slike/ljubljana1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header3 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Slike/okolje.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header4 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(Slike/city.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1;
  text-align: right;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #e77f25;
  display: block;
  margin: auto;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 50px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(2, 2, 2);
  border: 1px solid rgb(2, 2, 2);
  padding: 12px 34px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #e77f25;
  background: #e77f25;
  transition: 1s;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #e77f25;
    height: 98vh;
    width: 170px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* ---------------------------------- Prijava in Registracija---------------------------------------------------------------------------------------------------------- */
.login {
  width: 80%;
  text-align: center;
  padding-top: 100px;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.login-col {
  flex-basis: 48%;
  background: #f3f5ff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0, 5;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* ---------------------------------------------- Mesta --------------------------------------------------------------------------------------------------------------- */
.mesta {
  width: 80%;
  margin: auto;
  text-align: center;
}

.mesta-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  float: left;
}

.mesta-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: #e77f25;
  cursor: pointer;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 40%;
  opacity: 1;
}

/* ---------------------------------------------- Države -------------------------------------------------------------------------------------------------------------- */
.drzave {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  flex-basis: 32%;
}

.drzave-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.drzave-col:hover {
  cursor: pointer;
}

.drzave-col img {
  width: 100%;
  border-radius: 10px;
  border-color: black;
  border: 2px;
  height: 200px;
}

.drzave-col p {
  padding: 0;
}

.drzave-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* ----------------------------------------- FOOTER ------------------------------------------------------------------------------------------------------------------- */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa {
  color: #e77f25;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  align-items: center;
}

.fa-heart-o {
  color: #e77f25;
}

/*------------------------------------- Slajder za slike ---------------------------------------------------------------------------------------------------------------*/
.hi-slide {
  position: relative;
  width: 754px;
  height: 292px;
  border-radius: 50px;
  margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  background-color: #e77f25;
  color: black;
  transition: all 0.7;
  font-size: 20px;
  font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
  opacity: 1;
  background-color: #9e4a00;
}

.hi-slide .hi-prev {
  left: -60px;
}

.hi-slide .hi-prev::before {
  content: '<';
}

.hi-slide .hi-next {
  right: -60px;
}

.hi-slide .hi-next::before {
  content: '>';
}

.hi-slide>ul {
  list-style: none;
  position: relative;
  width: 754px;
  height: 292px;
  margin: 0;
  padding: 0;
}

.hi-slide>ul>li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  left: 377px;
  top: 147px;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: 3px solid white;
  cursor: pointer;
  background-color: #333;
}

.hi-slide>ul>li>img {
  width: 100%;
  height: 100%;
  background-position: center;
}

.hi-slide>ul>li:hover>h3 {
  color: white;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.5s;
}

.naslov {
  margin-left: 7%;
  padding-top: 7%;
}

